
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Enrolling new one to placement buddy</title>
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
	<p class="text-center text-warning">{{info}}</p>
	<div class="row justify-content-center">
		<div class="col-md-6 col-sm-12 p-3 rounded border shadow">
			<h1 class="display-4 text-primary">Placement buddy enrollment</h1>
			<form class="form text-primary" action="/candidate" method="post">
				{%csrf_token%}
				<div class="form-group">
					<label >Register Number</label>
					<div>{{obj.regno}}</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Name of Candidate</label>
					<div class="col-sm-4">{{obj.name}}</div>
				</div>
				<div class="form-checked">
					{% comment %} <div class="form-inline">
						<label for="gender">Select Gender</label>
						<input type="radio" name="gender" value="male" class="form-control" style="margin:4px; margin-left: 30px">Male
						<input type="radio" name="gender" value="female" class="form-control" style="margin-left: 30px">Female
						<input type="radio" name="gender" value="other" class="form-control" style="margin-left: 30px">Other
					</div> {% endcomment %}
					<div>{{obj.gender}}</div>
				</div>
				<div class="form group">
					<label >Department</label>
					<div>{{obj.dept}}</div>
				</div>
				<div class="form group">
					<label >Batch year</label>
					<div>{{obj.batch}}</div>
				</div>
				<div class="form group">
					<label >Contact</label>
					<div>{{obj.contact}}</div>
				</div>
				<div class="form group">
					<label >Email</label>
					<div>{{obj.email}}</div>
				</div>
				<div class="form group">
					<label >Address</label>
					<div>{{obj.address}}</div>
				</div>
				<div class="form group">
					<label >CGPA</label>
					<div>{{obj.cgpa}}</div>
				</div>
				<div class="form group">
					<label >Higher Secondary</label>
					<div>{{obj.hsc}}</div>
				</div>
				<div class="form group">
					<label >Diploma</label>
					<div>{{obj.diploma}}</div>
				</div>
				<div class="form group">
					<label >SSLC</label>
					<div>{{obj.sslc}}</div>
				</div>
				<div class="form-checked">
					<label >Select your career</label>
					{% comment %} <div class="form-inline">
						<label for="interest">Select your career</label>
						<input type="radio" name="interest" value="it" class="form-control" style="margin:4px; margin-left: 30px">IT
						<input type="radio" name="interest" value="core" class="form-control" style="margin-left: 30px">Core
						<input type="radio" name="interest" value="higher_studies" class="form-control" style="margin-left: 30px">Higher Studies
						<input type="radio" name="interest" value="not_interested" class="form-control" style="margin-left: 30px">Not Interested
					</div> {% endcomment %}
					<div>{{obj.career}}</div>
				</div>
				<div class="form group">
					<label >Skills</label>
					<div>{{obj.skills}}</div>
				</div>
				<div class="form group">
					<label >Placed</label>
					<div>{{obj.placed}}</div>
				</div>
				<div class="form group">
					<label >Status</label>
					<div>{{obj.status}}</div>
				</div>
				<div class="row justify-content-around">
					<button class="btn btn-outline-primary">Add</button>
                    <button class="btn btn-outline-danger">Clear</button>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>